body {
max-width: 871px;
}


.priority-row {
    transition: 0.6s all;
 
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
}


h2 { margin-top: 12px;}


.priority {
    display: inline-block;
    
    width: 20%;
    text-align: center;
   padding-top: 30px;
    vertical-align: top;

    
    
}

.priority-details {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    padding: 0 20px;
}



.priority-1 .priority-details{
    border-left: none;
}



.priority-1 {
    background-color: red;
       color: #fff;
}

.priority-2  {
    background-color: orange;
       color: #000;
}

.priority-3  {
    background-color: #777;
    color: #fff;
}



.button-container {
    margin-top: 50px;
}

button {
    font-size: 1.5em;
    margin-right: 50px;
}